<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16x16.png">
  <link rel="manifest" href="<%= BASE_URL %>site.webmanifest">
  <link rel="mask-icon" href="<%= BASE_URL %>safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <title>Tabú Bíblico</title>
  <meta name="description" content="Tabú Bíblico | Ezequiel Leonardo Castaño - Adaptado de Kovah.de"/>

  <meta property="article:author" content="Ezequiel Leonardo Castaño" />
  <meta property="article:section" content="Programming" />
  <meta property="article:published_time" content="2020-08-15" />


  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Tabú Bíblico &#124; Ezequiel Leonardo Castaño Personal Website">
  <meta name="twitter:description" content="Tabú Bíblico | Ezequiel Leonardo Castaño - Adaptado de Kovah.de">
  <meta name="twitter:image" content="https://elc.github.io/tabubiblico">

  <meta property="og:title" content="Tabú Bíblico &#124; Ezequiel Leonardo Castaño Personal Website"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://elc.github.io/tabubiblico/"/>
  <meta property="og:image" content="https://elc.github.io/tabubiblico"/>
  <meta property="og:description" content="Tabú Bíblico | Ezequiel Leonardo Castaño - Adaptado de Kovah.de"/>

</head>
<body>
<noscript>
  <strong>Debes tener habilitado Javascript para ver el contenido de este sitio</strong>
</noscript>
<div id="app"></div>
<script src="api.js"></script>

<!-- 

<script>
  (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");
  ga("create", "UA-71773079-3", "auto");
  ga("send", "pageview");
</script>

 -->

</body>
</html>
