#highscores {
  z-index: 300;
  overflow: auto;
}

.highscores-table {

  &__wrapper {
    margin: $spacer-4 0;
  }
}

.highscores-buttons {
  margin: $spacer 0;

  .btn + .btn {
    margin-top: $spacer;
  }

  @media screen and (min-width: $screen-md) {
    .btn + .btn {
      margin-left: $spacer;
    }
  }
}

@import "Highscore/highscore";
