#menu {
  height: calc(100vh - #{$spacer * 6});
  overflow: auto;
  padding: $spacer;
  background: #212121;
  height: 100%;
  display: flex;

  @media screen and (min-width: $screen-md) {
    //height: calc(100vh - #{$spacer * 2});
    height: 100%
  }
}

.menu__wrapper {
  padding: 0;//$spacer;
  height: 100%;
}

.logo {

  text-align: center;
  padding: 0 0 $spacer-4 0;

  &__subline {
    font-size: $font-size-lg;
  }
}

.user-form {

  padding: $spacer-3 0;

  &__label {
    display: block;
    margin-bottom: $spacer-3;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;

    small {
      font-size: 0.7rem;
      opacity: 0.65;
    }
  }
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacer 0;
  text-align: center;

  .btn + .btn {
    margin-top: $spacer;
  }
}