#rate {
  z-index: 200;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// HEADER

.rate-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}

.header-btn {
  display: flex;
  width: 15%;
  height: 60%;
  position: relative;
  border: 0;
  background: transparent;

  &:active, &:focus{
    outline: none;
  }
}

.rate-header-images{
  height: 100%;
  width: 100%;
}

#recommend-btn{
  width: 25% !important;
  height: 90% !important;
}

// CONTENT

.rate-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;

  &__headerimage {
    width: auto;
    margin: -20px 0 10px 0;
    max-height: 50vh;
    border-radius: 5px;
  }

  &__metadata {
    height: 85px;
    
    h1{
      font-size: 1.6rem;
    }

    h2{
      font-size: 1.2rem;
    }
  }

  &__title {
    text-align: center;
  }

  &__year {
    text-align: center;
  }

}

// BUTTONS

.rate-buttons {
  display: flex;
  justify-content: space-between;
  height: 20%;
  max-width: 500px;
  width: 90%;
  align-items: center;
}

.rate-button {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  background: #7F0000 !important;
  border-radius: 20px;
  border: 0;
  outline: none;
  margin: 0 10px;
  box-sizing: border-box;

  &:active, &:focus{
    outline: none;
  }

  &__not-watched{
    font-size: 1.0rem;

    @media screen and (min-width: $screen-sm) {
      font-size: 1.3rem;
    }

    @media screen and (min-width: $screen-sm) {
      font-size: 2rem;
    }
    
  }
}

.rate-images{
  width: auto;
  height: 80%;
}