#rate {
  z-index: 200;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// HEADER

.rate{
  
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;

    &-btn {
      display: flex;
      width: auto;
      height: 60%;
      position: relative;
      border: 0;
      background: transparent;
      cursor: pointer;
    
      &:active, &:focus{
        outline: none;
      }
    }
  
    &-images{
      height: 100%;
      width: auto;
    }

    &-level{
      font-size: 1.2rem;
      top: 0.5vh;
      position: absolute;
    }

    &-recommend{
      width: 45px;
      margin-right: 2px;
      margin-top: 5px;

      &__enable{
        margin-right: 0;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        animation-name: shake;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes shake {
        2%, 18% {
          transform: translate3d(-1px, 1px, 0);
        }
        
        4%, 16% {
          transform: translate3d(1px, -1px, 0);
        }
      
        6%, 10%, 14% {
          transform: translate3d(0px, 1px, 0);
        }
      
        8%, 12% {
          transform: translate3d(1px, 0px, 0);
        }
      }

      &__disable{
        width: 40px;
        margin-top: 10px;
        opacity: 0.4;
        filter: saturate(0);
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
  
    &__headerimage {
      width: auto;
      margin: -20px 0 10px 0;
      max-height: 50vh;
      border-radius: 5px;
    }
  
    &__metadata {
      height: 85px;
      
      h1{
        font-size: 1.6rem;
      }
  
      h2{
        font-size: 1.2rem;
      }
    }
  
    &__title {
      text-align: center;
    }
  
    &__year {
      text-align: center;
    }
  
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    height: 20%;
    max-width: 500px;
    width: 90%;
    align-items: center;
  }
  
  &-button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58%;
    background: #7F0000 !important;
    border-radius: 20px;
    border: 0;
    outline: none;
    margin: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
  
    &:active, &:focus{
      outline: none;
    }
  
    &__not-watched{
      font-size: 1.0rem;
  
      @media screen and (min-width: $screen-sm) {
        font-size: 1.3rem;
      }
  
      @media screen and (min-width: $screen-sm) {
        font-size: 2rem;
      }
      
    }
  }
  
  &-images{
    width: auto;
    height: 80%;
  }
}


#recommend-btn{
  width: auto;
  height: 90% !important;
}

