#recommendations {
  z-index: 3000;
}

.recommendations {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;

    &-btn {
      display: flex;
      width: auto;
      height: 60%;
      position: relative;
      border: 0;
      background: transparent;

      &:active,
      &:focus {
        outline: none;
      }
    }

    &-images {
      height: 100%;
      width: auto;
    }

  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;

    &__headerimage {
      width: auto;
      max-height: 50vh;
      border-radius: 5px;
    }

    &__metadata {
      height: 85px;

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }
    }

    &__title {
      text-align: center;
    }

    &__year {
      text-align: center;
    }
  }

  &-text {
    font-size: 1.5rem;
    margin: 1rem 2rem;
    position: absolute;
    top: 3vh;
  }
}

.recommendations {
  &-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
  }

  &-button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58%;
    background: #7F0000 !important;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    border: 0;
    outline: none;
    margin: 0 10px;
    box-sizing: border-box;

    &:active,
    &:focus {
      outline: none;
    }

    &__not-watched {
      font-size: 1.0rem;

      @media screen and (min-width: $screen-sm) {
        font-size: 1.3rem;
      }

      @media screen and (min-width: $screen-sm) {
        font-size: 2rem;
      }

    }
  }
}